{
  "version": "1.0",
  "data": {
    "employeeId": "147471805_991395044",
    "year": 2019,
    "deptName": {
      "ru": {
        "name": "адм. руководящие работники и главные специалисты"
      }
    },
    "posName": {
      "ru": {
        "name": "заместитель  генерального директора по финансовым вопросам и"
      }
    },
    "hiringDate": "2016.10.17",
    "data": [
      {
        "typeId": "saldo",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 636.62
      },
      {
        "typeId": "147582379_119619099",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 1500
      },
      {
        "typeId": "148940417_1191727139",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 3
      },
      {
        "typeId": "1533227258_518419366",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 100
      },
      {
        "typeId": "148514041_1179550471",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 21
      },
      {
        "typeId": "184392184_1332906934",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 30
      },
      {
        "typeId": "148501799_1178286333",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 30
      },
      {
        "typeId": "327204838_1463738259",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 1695
      },
      {
        "typeId": "148643817_1183720351",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 119.67
      },
      {
        "typeId": "147567125_119619099",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 598.34,
        "adddata": {
          "hours": 160,
          "days": 20
        }
      },
      {
        "typeId": "147653395_119619099",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 47.36
      },
      {
        "typeId": "147567139_119619099",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 595.97
      },
      {
        "typeId": "147128308_630674642",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 2293.34
      },
      {
        "typeId": "147653396_119619099",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 47.36
      },
      {
        "typeId": "1727473364_638679305",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 3.5
      },
      {
        "typeId": "148514048_1179550471",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 22.09
      },
      {
        "typeId": "147083069_274788016",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 30
      },
      {
        "typeId": "147084904_586033115",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 122
      },
      {
        "typeId": "salary",
        "dateBegin": "2019.2.1",
        "dateEnd": "2019.2.28",
        "s": 598.34
      }
    ]
  }
}