{
  "version": "1.0",
  "data": {
    "bmkk": {
      "name": "ОАО \"Березовский Мясоконсервный Комбинат\"",
      "aliases": [
        "бмкк",
        "березовский мясоконсервный комбинат",
        "березовский мясокомбинат",
        "березовский мк",
        "барановичский мясокомбинат",
        "барановичский мк",
        "пц барановичи",	
        "бярозаўскі мясакансервавы камбінат",
        "бярозаўскі мясакамбінат",
        "бярозаўскі мк"
      ],
      "protected": false
    },
    "brl": {
      "name": "ОАО \"Витебская бройлерная птицефабрика\"",
      "aliases": [
        "вбпф",
        "ганна",
        "птицефабрика ганна",
        "бройлерная птицефабрика ганна",
        "витебская бройлерная птицефабрика",
        "витебская бройлерная птицефабрика ганна",
        "птушкафабрыка ганна",
        "бройлерная птушкафабрыка ганна",
        "віцебская бройлерная птушкафабрыка",
        "віцебская бройлерная птушкафабрыка ганна"
      ],
      "protected": true
    },
    "kaliagro": {
      "name": "ООО \"Беларускалий-Агро\"-упр.ком.холдинга Беларускалий-Агро\"",
      "aliases": [
        "беларускалийагро",
        "беларускалий агро",
        "беларуськалийагро",
        "беларуськалий агро"
      ]
    },
    "ampersant": {
      "name": "ООО \"Амперсант\"",
      "aliases": [
        "амперсант"
      ]
    },
    "gs": {
      "name": "ОДО \"Золотые программы\"",
      "aliases": [
        "золотые программы",
        "залатыя праграмы",
        "gs",
        "golden software"
      ]
    },
    "gomelmk": {
      "name": "ОАО \"Гомельский мясокомбинат\"",
      "aliases": [
        "гомельский мясокомбинат",
        "мясокомбинат гомель",
        "гомель мясокомбинат",
        "гмк",
        "гомельский мк",
        "gmk"
      ]
    },
    "slonimmk": {
      "name": "ОАО \"Слонимский мясокомбинат\"",
      "aliases": [
        "слонимский мясокомбинат",
        "слонимский мк",
        "слонiмскі мясакамбінат",
        "слонiмскі мк"
      ]
    },
    "sluckmk": {
      "name": "ОАО \"Слуцкий мясокомбинат\"",
      "aliases": [
        "слуцкий мясокомбинат",
        "слуцкий мк",
        "смк",
        "слуцкі мясакамбінат",
        "слуцкі мк"
      ]
    },
    "mogilevmk": {
      "name": "ОАО \"Могилевский мясокомбинат\"",
      "aliases": [
        "могилевский мясокомбинат",
        "могилевский мк",
        "ммк",
        "магiлеўскі мясакамбінат",
        "магiлеўскі мк"
      ]
    },
    "smkt": {
      "name": "УП \"СМК-ТРЕЙДИНГ\"",
      "aliases": [
        "смк-трейдинг",
        "смк трейдинг",
        "смкт"
      ]
    },
    "skhp": {
      "name": "УПП \"Сморгонский комбинат хлебопродуктов\"",
      "aliases": [
        "скхп",
        "сморгонский хлебокомбинат",
        "сморгонский комбинат хлебопродуктов",
        "сморгонский кхп",
        "сморгоньский хлебокомбинат",
        "сморгоньский комбинат хлебопродуктов",
        "кхп сморгонь",
        "хлебокомбинат сморгонь",
        "комбинат хлебопродуктов сморгонь"
      ]
    },
    "sandrik": {
      "name": "Сандрик",
      "aliases": [
        "sandrik",
        "сандрик"
      ]
    },
      "cbk": {
      "name": "ОАО \"Гомельобои\"",
      "aliases": [
        "гомельобои",
        "гомель обои",
        "цбк",
        "цбк консалт",
        "цбкконсалт"
      ]
    },
      "belbogemia": {
      "name": "ИООО \"Белбогемия\"",
      "aliases": [
        "белбогемия",
        "бел богемия",
        "belbogemia"
      ]
    }
  }
}