{
  "version": "1.0",
  "data": {
    "bmkk": {
      "name": "ОАО \"Березовский Мясоконсервный Комбинат\"",
      "aliases": [
        "бмкк",
        "березовский мясоконсервный комбинат",
        "березовский мясокомбинат",
        "березовский мк",
        "барановичский мясокомбинат",
        "барановичский мк",
        "пц барановичи",	
        "бярозаўскі мясакансервавы камбінат",
        "бярозаўскі мясакамбінат",
        "бярозаўскі мк"
      ],
      "protected": false
    },
    "test": {
      "name": "ОАО \"Моя организация\"",
      "aliases": [
        "тест",
        "test", 
        "Моя организация"
      ]
    }
}