{
    "version": "1.0",
    "data": {
      "bmkk": {
        "name": "ОАО \"Березовский Мясоконсервный Комбинат\"",
        "protected": true,
        "aliases": [
          "бмкк",
          "березовский мясоконсервный комбинат",
          "березовский мясокомбинат",
          "березовский мк",
          "бярозаўскі мясакансервавы камбінат",
          "бярозаўскі мясакамбінат",
          "бярозаўскі мк"
        ]
      },
      "brl": {
        "name": "ОАО \"Витебская бройлерная птицефабрика\"",
        "aliases": [
          "вбпф",
          "ганна",
          "птицефабрика ганна",
          "бройлерная птицефабрика ганна",
          "витебская бройлерная птицефабрика",
          "витебская бройлерная птицефабрика ганна",
          "птушкафабрыка ганна",
          "бройлерная птушкафабрыка ганна",
          "віцебская бройлерная птушкафабрыка",
          "віцебская бройлерная птушкафабрыка ганна"
        ]
      },
      "kaliagro": {
        "name": "ООО \"Беларускалий-Агро\"-упр.ком.холдинга Беларускалий-Агро\"",
        "aliases": [
          "беларускалий-агро",
          "беларускалий агро"
        ]
      },
      "ampersant": {
        "name": "ОАО \"Амперсант\"",
        "aliases": [
          "амперсант"
        ]
      },
      "gs": {
        "name": "ОДО \"Золотые программы\"",
        "aliases": [
          "золотые программы",
                  "gs",
                  "golden software"
        ]
      },
      "gomelmk": {
        "name": "ОАО \"Гомельский мясокомбинат\"",
        "aliases": [
          "гомельский мясокомбинат",
                  "гмк",
                  "гомельский мк",
                  "gmk"
        ]
      },
      "slonimmk": {
        "name": "ОАО \"Слонимский мясокомбинат\"",
        "aliases": [
          "слонимский мясокомбинат",
                  "слонимский мк",
          "слонiмскі мясакамбінат",
          "слонiмскі мк"
        ]
      },
      "mogilevmk": {
        "name": "ОАО \"Могилевский мясокомбинат\"",
        "aliases": [
          "могилевский мясокомбинат",
                  "могилевский мк",
                  "ммк",
          "магiлеўскі мясакамбінат",
          "магiлеўскі мк"
        ]
      }

    }
  }