{
  "version": "1.0",
  "data": {
    "1": {
      "firstName": "Кастусь",
      "lastName": "Калиновский",
      "patrName": "Семенович",
      "passportId": "BEL01",
      "tabNumber": "0001"
    }
  }
}