{
  "version": "1.0",
  "data": {
    "1234_5678": {
      "emplId": "1234_5678",
      "dept": [
        {
          "id": "397982399_1319981781",
          "name": {
            "ru": {
              "name": "отдел торговли и маркетинга"
            }
          },
          "d": "2004.05.25"
        }
      ],
      "pos": [
        {
          "id": "188162694_718739490",
          "name": {
            "ru": {
              "name": "водитель автомобиля"
            }
          },
          "d": "2004.05.25"
        }
      ],
      "salary": [
        {
          "s": 0,
          "d": "2004.05.25"
        },
        {
          "s": 2643207.48,
          "d": "2015.01.01"
        },
        {
          "s": 3000398,
          "d": "2015.10.01"
        },
        {
          "s": 3300513,
          "d": "2015.12.01"
        },
        {
          "s": 346.51,
          "d": "2016.07.01"
        },
        {
          "s": 363.83,
          "d": "2017.02.01"
        },
        {
          "s": 395.27,
          "d": "2017.12.01"
        },
        {
          "s": 434.8,
          "d": "2019.04.01"
        }
      ],
      "payForm": [
        {
          "slr": false,
          "d": "2004.05.25"
        }
      ],
      "schedule": [
        {
          "id": "157286774_232847065",
          "d": "2004.05.25"
        }
      ],
      "hourrate": [
        {
          "s": 15612.57,
          "d": "2015.01.01"
        },
        {
          "s": 17722,
          "d": "2015.10.01"
        },
        {
          "s": 19495,
          "d": "2015.12.01"
        },
        {
          "s": 19438,
          "d": "2016.01.01"
        },
        {
          "s": 2.04,
          "d": "2016.07.01"
        },
        {
          "s": 2.05,
          "d": "2017.01.01"
        },
        {
          "s": 2.17,
          "d": "2017.02.01"
        },
        {
          "s": 2.34,
          "d": "2017.12.01"
        },
        {
          "s": 2.36,
          "d": "2018.01.01"
        },
        {
          "s": 2.37,
          "d": "2019.01.01"
        },
        {
          "s": 2.6,
          "d": "2019.04.01"
        },
        {
          "s": 2.57,
          "d": "2020.01.01"
        }
      ],
      "data": [
        {
          "typeId": "148066214_803936507",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 9.06,
          "det": {
            "hours": 6
          }
        },
        {
          "typeId": "147567134_119619099",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 472.88,
          "det": {
            "days": 24,
            "hours": 184
          }
        },
        {
          "typeId": "483623105_1631467655",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 794.19
        },
        {
          "typeId": "147566172_336327731",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 44.2,
          "det": {
            "hours": 43
          }
        },
        {
          "typeId": "147382337_1242314218",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 118.22
        },
        {
          "typeId": "147180596_1086716603",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 38.64,
          "det": {
            "hours": 184
          }
        },
        {
          "typeId": "147308346_1242314218",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 92.74
        },
        {
          "typeId": "147474669_336327731",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 97.66
        },
        {
          "typeId": "576656597_1585746679",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 249.27
        },
        {
          "typeId": "147567139_119619099",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 212.37
        },
        {
          "typeId": "576656522_1585746679",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 100
        },
        {
          "typeId": "147653396_119619099",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 16.68
        },
        {
          "typeId": "576656556_1585746679",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 149.27
        },
        {
          "typeId": "147653395_119619099",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 19.17
        },
        {
          "typeId": "147083069_274788016",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 249.27
        },
        {
          "typeId": "147066644_119619099",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 34
        },
        {
          "typeId": "saldo",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 1419.37
        },
        {
          "typeId": "147567134_119619099",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 478.4,
          "det": {
            "days": 23,
            "hours": 184
          }
        },
        {
          "typeId": "483623105_1631467655",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 1058.79
        },
        {
          "typeId": "576656646_1585746679",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 249.33
        },
        {
          "typeId": "147566173_336327731",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 20.8,
          "det": {
            "hours": 8
          }
        },
        {
          "typeId": "147566172_336327731",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 55.12,
          "det": {
            "hours": 53
          }
        },
        {
          "typeId": "147382337_1242314218",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 119.6
        },
        {
          "typeId": "147180596_1086716603",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 38.64,
          "det": {
            "hours": 184
          }
        },
        {
          "typeId": "147308346_1242314218",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 93.4
        },
        {
          "typeId": "147474669_336327731",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 95.68
        },
        {
          "typeId": "147567139_119619099",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 283.11
        },
        {
          "typeId": "576656522_1585746679",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 100
        },
        {
          "typeId": "147653396_119619099",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 22.1
        },
        {
          "typeId": "576656542_1585746679",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 20.13
        },
        {
          "typeId": "576656543_1585746679",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 27.01
        },
        {
          "typeId": "576656556_1585746679",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 149.33
        },
        {
          "typeId": "147653395_119619099",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 22.1
        },
        {
          "typeId": "147066644_119619099",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 32
        },
        {
          "typeId": "saldo",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 1585.98
        },
        {
          "typeId": "147567134_119619099",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 472.88,
          "det": {
            "days": 23,
            "hours": 184
          }
        },
        {
          "typeId": "483623105_1631467655",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 781.9
        },
        {
          "typeId": "147566173_336327731",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 20.56,
          "det": {
            "hours": 8
          }
        },
        {
          "typeId": "147566172_336327731",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 53.46,
          "det": {
            "hours": 52
          }
        },
        {
          "typeId": "147382337_1242314218",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 118.22
        },
        {
          "typeId": "147180596_1086716603",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 38.64,
          "det": {
            "hours": 184
          }
        },
        {
          "typeId": "147308346_1242314218",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 92.74
        },
        {
          "typeId": "147474669_336327731",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 94.58
        },
        {
          "typeId": "147567139_119619099",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 213.07
        },
        {
          "typeId": "147653396_119619099",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 16.73
        },
        {
          "typeId": "576656543_1585746679",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 11.04
        },
        {
          "typeId": "147653395_119619099",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 16.73
        },
        {
          "typeId": "147066644_119619099",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 34
        },
        {
          "typeId": "saldo",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 1415.41
        },
        {
          "typeId": "147567134_119619099",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 534.56,
          "det": {
            "days": 26,
            "hours": 208
          }
        },
        {
          "typeId": "483623105_1631467655",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 895.99
        },
        {
          "typeId": "576656646_1585746679",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 100
        },
        {
          "typeId": "147566172_336327731",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 50.37,
          "det": {
            "hours": 49
          }
        },
        {
          "typeId": "147382337_1242314218",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 133.64
        },
        {
          "typeId": "147180596_1086716603",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 43.68,
          "det": {
            "hours": 208
          }
        },
        {
          "typeId": "147308346_1242314218",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 104.83
        },
        {
          "typeId": "147474669_336327731",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 106.91
        },
        {
          "typeId": "147567139_119619099",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 251.68
        },
        {
          "typeId": "147653396_119619099",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 19.7
        },
        {
          "typeId": "147653395_119619099",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 19.7
        },
        {
          "typeId": "147066644_119619099",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 34
        },
        {
          "typeId": "saldo",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 1678.9
        }
      ]
    }
  }
}