{
  "version": "1.0",
  "data": {
    "5678_1234": {
      "emplId": "5678_1234",
      "dept": [
        {
          "id": "188139485_534865013",
          "name": {
            "ru": {
              "name": "отдел главного технолога"
            }
          },
          "d": "1997.01.13"
        },
        {
          "id": "188139619_534865013",
          "name": {
            "ru": {
              "name": "отдел управления качеством"
            }
          },
          "d": "2013.06.10"
        }
      ],
      "pos": [
        {
          "id": "188235576_978593185",
          "name": {
            "ru": {
              "name": "ведущий инженер-технолог"
            }
          },
          "d": "1997.01.13"
        },
        {
          "id": "559962524_1450749196",
          "name": {
            "ru": {
              "name": "начальник отдела"
            }
          },
          "d": "2013.06.10"
        }
      ],
      "salary": [
        {
          "s": 0,
          "d": "1997.01.13"
        },
        {
          "s": 3005797.74,
          "d": "2012.04.01"
        },
        {
          "s": 3306377.74,
          "d": "2012.11.01"
        },
        {
          "s": 3784530.46,
          "d": "2013.06.10"
        },
        {
          "s": 4371135,
          "d": "2015.10.01"
        },
        {
          "s": 4808359,
          "d": "2015.12.01"
        },
        {
          "s": 5574292,
          "d": "2016.01.01"
        },
        {
          "s": 585.22,
          "d": "2016.07.01"
        },
        {
          "s": 614.46,
          "d": "2017.02.01"
        },
        {
          "s": 667.58,
          "d": "2018.08.01"
        },
        {
          "s": 734.35,
          "d": "2019.04.01"
        }
      ],
      "payForm": [
        {
          "slr": false,
          "d": "1997.01.13"
        },
        {
          "slr": true,
          "d": "2012.11.01"
        }
      ],
      "schedule": [
        {
          "id": "156783022_1465845538",
          "d": "1997.01.13"
        }
      ],
      "hourrate": [
        {
          "s": 19610.7814,
          "d": "2012.11.01"
        },
        {
          "s": 22621.2221,
          "d": "2013.06.10"
        },
        {
          "s": 25819,
          "d": "2015.10.01"
        },
        {
          "s": 28401,
          "d": "2015.12.01"
        },
        {
          "s": 32829,
          "d": "2016.01.01"
        },
        {
          "s": 3.45,
          "d": "2016.07.01"
        },
        {
          "s": 3.47,
          "d": "2017.01.01"
        },
        {
          "s": 3.65,
          "d": "2017.02.01"
        },
        {
          "s": 3.97,
          "d": "2018.08.01"
        },
        {
          "s": 4,
          "d": "2019.01.01"
        },
        {
          "s": 4.39,
          "d": "2019.04.01"
        },
        {
          "s": 4.34,
          "d": "2020.01.01"
        }
      ],
      "data": [
        {
          "typeId": "147567125_119619099",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 734.35,
          "det": {
            "days": 20,
            "hours": 160
          }
        },
        {
          "typeId": "483623105_1631467655",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 825.55
        },
        {
          "typeId": "147474669_336327731",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 146.87
        },
        {
          "typeId": "147567139_119619099",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 204.98
        },
        {
          "typeId": "576656522_1585746679",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 600
        },
        {
          "typeId": "147653396_119619099",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 17.07
        },
        {
          "typeId": "576656542_1585746679",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 18.03
        },
        {
          "typeId": "576656630_1585746679",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 54.17
        },
        {
          "typeId": "147653395_119619099",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 17.07
        },
        {
          "typeId": "147084904_586033115",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 130
        },
        {
          "typeId": "saldo",
          "db": "2020.02.01",
          "de": "2020.02.29",
          "s": 795.45
        },
        {
          "typeId": "147567125_119619099",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 667.99,
          "det": {
            "days": 19,
            "hours": 151
          }
        },
        {
          "typeId": "483623105_1631467655",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 546.36
        },
        {
          "typeId": "576656646_1585746679",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 249.33
        },
        {
          "typeId": "147474669_336327731",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 133.6
        },
        {
          "typeId": "147567139_119619099",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 191.79
        },
        {
          "typeId": "576656522_1585746679",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 300
        },
        {
          "typeId": "147653396_119619099",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 15.97
        },
        {
          "typeId": "576656542_1585746679",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 119.75
        },
        {
          "typeId": "576656630_1585746679",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 40.1
        },
        {
          "typeId": "576656556_1585746679",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 149.33
        },
        {
          "typeId": "147653395_119619099",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 15.97
        },
        {
          "typeId": "147084904_586033115",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 122
        },
        {
          "typeId": "saldo",
          "db": "2019.12.01",
          "de": "2019.12.31",
          "s": 764.37
        },
        {
          "typeId": "147567125_119619099",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 734.35,
          "det": {
            "days": 22,
            "hours": 176
          }
        },
        {
          "typeId": "483623105_1631467655",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 425.55
        },
        {
          "typeId": "576656646_1585746679",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 303.76
        },
        {
          "typeId": "147474669_336327731",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 146.87
        },
        {
          "typeId": "147567139_119619099",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 192.47
        },
        {
          "typeId": "576656522_1585746679",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 150
        },
        {
          "typeId": "147653396_119619099",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 16.11
        },
        {
          "typeId": "576656542_1585746679",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 8.36
        },
        {
          "typeId": "576656630_1585746679",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 97.92
        },
        {
          "typeId": "576656556_1585746679",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 153.76
        },
        {
          "typeId": "147653395_119619099",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 16.11
        },
        {
          "typeId": "147084904_586033115",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 130
        },
        {
          "typeId": "saldo",
          "db": "2020.03.01",
          "de": "2020.03.31",
          "s": 975.8
        },
        {
          "typeId": "147567125_119619099",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 734.35,
          "det": {
            "days": 20,
            "hours": 159
          }
        },
        {
          "typeId": "483623105_1631467655",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 423.98
        },
        {
          "typeId": "576656646_1585746679",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 100
        },
        {
          "typeId": "147474669_336327731",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 146.87
        },
        {
          "typeId": "147567139_119619099",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 48.78
        },
        {
          "typeId": "147653396_119619099",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 14.05
        },
        {
          "typeId": "576656542_1585746679",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 3.79
        },
        {
          "typeId": "576656630_1585746679",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 55.78
        },
        {
          "typeId": "147653395_119619099",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 14.05
        },
        {
          "typeId": "147084904_586033115",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 130
        },
        {
          "typeId": "147066647_119619099",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 900
        },
        {
          "typeId": "saldo",
          "db": "2020.01.01",
          "de": "2020.01.31",
          "s": 1268.75
        }
      ]
    }
  }
}