import { IConfig } from "./types";

export const config: IConfig = {
  telegram: {
    token: ''
  },
  viber: {
    token: '',
    callbackHost: 'host:port',
    disabled: false
  },
  httpPort: 3000,
  httpsPort: 8084,
  logger: {
    fileName: '',
    maxSize: 10 * 1024 * 1024,
    level: 'INFO',
    useConsole: true
  }
};