// example of configuration data.
// make a copy of this file and rename it to "config.ts"

import { ILoggerParams } from "./log";

interface IConfig {
  logger: ILoggerParams;
};

export const config: IConfig = {
  logger: {
    fileName: '',
    maxSize: 10 * 1024 * 1024,
    level: 'INFO',
    useConsole: true
  }
};