import { ILoggerParams } from "./log";

interface IConfig {
  telegram: {
    token: string;
  }
  logger: ILoggerParams;
};

export const config: IConfig = {
  telegram: {
    token: 'put_token_here'
  },
  logger: {
    fileName: '',
    maxSize: 10 * 1024 * 1024,
    level: 'INFO',
    useConsole: true
  }
};